MYSQL_URL=jdbc:mysql://localhost:3306/asyncflow?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
MYSQL_USER=asyncflow
MYSQL_PASSWORD=asyncflow
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=asyncflow
RABBITMQ_PASSWORD=asyncflow
ASYNCFLOW_INTERNAL_TOKEN=change-me
REPORT_STORAGE_DIR=./data/reports
MYSQL_HOST_PORT=3307
